:root{
    --primary-color: #0077ff;
    --primary-color2: #0366d6;
    --dark-body-color: #161616;
    --dark-color: #101825;
    --dark-text-color: #ffffff;
    --light-body-color: #e0e0e0;
    --light-color: #d0dce9;
    --light-text-color: #000000;
    --grey-color: #424242;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    word-wrap: break-word;
}

html{
    background-color: rgb(0, 0, 22);
}

body{
    background: linear-gradient(0deg, rgb(0, 0, 22), var(--dark-body-color));
    color: var(--dark-text-color);
    height: 100vh;
    padding: 10px;
}

a{
    color: var(--primary-color);
}

h2{
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

header .logo{
    width: 50px;
    height: 50px;
    content: url(./img/github-mark-white.png);
}

main{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.inputBox{
    background-color: var(--dark-color);
    border: 1px solid var(--grey-color);
    border-radius: 5px;
    padding: 15px;
    max-width: 300px;
    margin-top: 12px;
}

.inputBox form{
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.inputBox form .box_container{
    margin-top: 15px;
}

.inputBox form input{
    margin-top: 7px;
    background-color: var(--dark-body-color);
    color: var(--dark-text-color);
    border: 0;
    outline: none;
    border: 1px solid var(--grey-color);
    border-radius: 5px;
    padding: 12px;
    height: 30px;
    width: 100%;
}

.inputBox form input:focus{
    border: 2px solid var(--primary-color);
}

.inputBox form .box_container .password_container{
    margin-top: 15px;
}

.inputBox form .box_container .password_container a{
    font-size: 12px;
    float: right;
}

.inputBox form .submit_btn{
    margin-top: 15px;
    background-color: var(--primary-color);
    border-radius: 5px;
    border: none;
    color: white;
    width: 100%;
    padding: 0;
    font-weight: bold;
    margin-bottom: 15px;
}

.inputBox form .submit_btn:hover{
    background-color: var(--primary-color2);
}

.login_out{
    font-size: 13px;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid var(--grey-color);
    border-radius: 5px;
    height: 50px;
    width: 300px;
}

.login_out p{
    color: var(--dark-text-color);
    margin-right: 10px;
}

footer{
    font-size: 12px;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
}

footer .link ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer .link ul li{
    margin: 5px;
}

footer .link ul li span{
    color: var(--grey-color);
}

@media(prefers-color-scheme: light) {
    html{
        background-color: rgb(198, 208, 255);
    }
    
    body{
        background: linear-gradient(0deg, rgb(198, 208, 255), var(--light-body-color));
        color: var(--light-text-color);
    }

    header .logo{
        content: url(./img/github-mark.png);
    }

    .inputBox{
        background-color: var(--light-color);
    }
    
    .inputBox form input{
        background-color: var(--light-body-color);
        color: var(--light-text-color);
    }

    .login_out p{
        color: var(--light-text-color);
    }
}

/* Aturan untuk tampilan mobile */
@media(orientation: portrait){
    body {
        padding: 20px;
    }

    h2{
        font-size: 50px;
    }

    header {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    header .logo{
        width: 15%;
        height: 15%;
    }

    main {
        font-size: 40px; /* Menurunkan ukuran font pada perangkat mobile */
        width: 90%;
        margin: auto;
    }

    .inputBox {
        min-width: 100%; /* Mengisi lebar layar penuh pada perangkat mobile */
        padding: 5%;
        margin-top: 7%;
    }

    .inputBox form input{
        margin-top: 5%;
        height: 80px;
        font-size: 30px;
    }

    .inputBox form .box_container .password_container{
        margin-top: 7%;
    }

    .inputBox form .box_container .password_container a{
        font-size: 25px;
    }

    .inputBox form .submit_btn{
        margin-top: 7%;
        margin-bottom: 5%;
        font-size: 30px;
    }

    .login_out{
        font-size: 30px;
        width: 100%;
        height: 100%;
        margin-top: 10%;
    }

    footer{
        padding-top: 15%;
        font-size: 30px;
        width: 100%;
    }

    footer .link ul li{
        margin-right: 15px;
    }
}
