:root{
    --primary-color: #0077ff;
    --primary-color2: #0366d6;
    --dark-body-color: #161616;
    --dark-color: #101825;
    --dark-text-color: #ffffff;
    --light-body-color: #e0e0e0;
    --light-color: #d0dce9;
    --light-text-color: #000000;
    --grey-color: #424242;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    word-wrap: break-word;
}

html{
    background-color: rgb(0, 0, 22);
}

body{
    background: linear-gradient(50deg, rgb(0, 0, 22), var(--dark-body-color));
    background-size: contain;
    color: var(--dark-text-color);
    padding: 30px;
}

header{
    display: flex;
    color: #6489aa;

    justify-content: space-between;
}

header p a{
    margin-left: 12px;
    text-decoration: none;
    color: var(--dark-text-color);
}

header .logo{
    width: 50px;
    height: 50px;
    content: url(./img/github-mark-white.png);
}

main{
    display: flex;
    justify-content: center;
}

.container .inputBox .submit-btn:hover{
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	transition: .5s ease;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 100px;
    border: 2px solid var(--grey-color);
    border-radius: 7px;
    width: 500px;
}

.container h3{
    color: #6489aa;
    font-weight: 100;
    margin-bottom: 10px;
}

.container .inputBox{
    margin-top: 40px;
}
.container .inputBox label{
    color: var(--primary-color);
    font-weight: bold;
}

.container .inputBox input, .create-btn{
    width: 350px;
    border-radius: 7px;
    margin-top: 20px;
    border: 1px solid var(--grey-color);
    outline: none;
    padding: 6px 9px;
    background-color: transparent;
    color: var(--dark-text-color);
}

.container .inputBox .continue-btn{
    width: 20%;
    color: var(--grey-color);
    float: right;
    border: 1px solid var(--grey-color);
}

.container .inputBox .box_field{
	border: 0;
}

.container .inputBox .box_field:focus{
	border: 1px solid var(--primary-color);
}

.container .inputBox .verf_container{
    border: 1px solid var(--grey-color);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    margin-top: 20px;
}
.container .inputBox .verf_container .verify_container{
    margin-top: 50px;
    display: flex;
    padding: 40px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.container .inputBox .verf_container .verify_container input{
    margin: 0;
    margin-top: 3px;
    width: 100%;
}

.container .inputBox .verf_container .verify_container p{
    font-size: 12px;
    margin-top: 20px;
}

.container .inputBox .verf_container input{
    width: 100%;
}

.container .create-btn{
    width: 100%;
    color: green;
    border: 1px solid green;
}
